@import "./variables.styl"
/*CSS重置*/
*,
:after,
:before
  box-sizing border-box

@-ms-viewport
  width device-width

body, html
  width 100%
  height 100%


body, figure, h1, h2, h3, h4, h5, h6, p, pre
  margin 0

dl, ol, ul
  margin 0
  padding-left 0

li
  list-style none

dd
  margin-left 0

a
  text-decoration none
  color var(--blue-500)

table
  border-collapse collapse

button, fieldset, input, legend, optgroup, select, td, textarea
  padding 0

fieldset
  margin 0
  border 0

button
  outline 0


input::-ms-clear,
input::-ms-reveal
  display none
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button
  appearance none

::-webkit-scrollbar
  width 6px
  height @width
::-webkit-scrollbar-track
  border-radius 0
::-webkit-scrollbar-thumb
  background-color var(--grey-400)
  border-radius 3px
  &:hover
    background-color var(--grey-500)

/* svg fill/stroke的颜色 */
.svg-fill-grey-800
  fill var(--grey-800)
.svg-stroke-grey-800
  stroke var(--grey-800)
.svg-fill-grey-500
  fill var(--grey-500)
.svg-stroke-grey-500
  stroke var(--grey-500)
.svg-fill-grey-400
  fill var(--grey-400)
.svg-stroke-grey-400
  stroke var(--grey-400)
.svg-stroke-grey-50
  stroke var(--grey-50)

.svg-fill-blue-500
  fill var(--blue-500)

.svg-fill-green-500
  fill var(--green-500)
.svg-fill-green-300
  fill var(--green-300)
.svg-fill-green-100
  fill var(--green-100)

.svg-fill-red-500
  fill var(--red-500)
.svg-fill-red-400
  fill var(--red-400)

.svg-fill-white
  fill var(--white)
.svg-stroke-white
  stroke var(--white)
