/*CSS重置 v1.0*/
*
  margin 0
  padding 0
  box-sizing border-box
  word-break break-all

fieldset, img
  border 0 none

dl, ul, ol, menu, li
  list-style none

a
  text-decoration none
  outline 0

active, ahover
  text-decoration none

body, button, input, textarea
  font-family -apple-system, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, "PingFang SC", "Source Han Sans SC", "Source Han Sans CN", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", sans-serif

button
  outline 0

html
  height 100%

body
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  width 100%
  height @width

body, button, input, textarea
  font-family -apple-system, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, "PingFang SC", "Source Han Sans SC", "Source Han Sans CN", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", sans-serif

body
  overflow auto



input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button
  appearance none

/*设置滚动条*/
::-webkit-scrollbar
  width 4px
  height 4px
  background-color #e4e5e7
::-webkit-scrollbar-track
  background-color var(--blue-900)
  border-radius 0
::-webkit-scrollbar-thumb
  background-color #e4e5e7
  border-radius 3px
