/* base-color -start */
:root
  /* base */
  --white #fff
  --black #000
  --theme var(--white)

  /* 透明背景色 */
  //--theme-transparency #646c73
  --theme-transparency rgba(100, 108, 115, .5)

  /* 蓝色 */
  /* input、触发器、按钮在focus时的投影 */
  --box-shadow-blue (0 0 0 2px rgba(0, 145, 255, .2))

  /* 灰色 */
  /* 下拉选择器、按钮盒子相关投影 */
  /* 向上 */
  --box-shadow-top (0 -2px 10px rgba(31, 35, 41, .1))
  /* 向下 */
  --box-shadow-bottom (0 2px 10px rgba(31, 35, 41, .1))
  /* 向左 */
  --box-shadow-left (-2px 0 10px rgba(31, 35, 41, .1))
  /* 向右 */
  --box-shadow-right (2px 0 10px rgba(31, 35, 41, .1))

  /* 箭头相关投影 */
  /* 向左 */
  --box-shadow-min-top (-2px 2px 4px rgba(31, 35, 41, .1))
  /* 向下 */
  --box-shadow-min-bottom (2px -2px 4px rgba(31, 35, 41, .1))
  /* 向左 */
  --box-shadow-min-left (-2px -2px 4px rgba(31, 35, 41, .1))
  /* 向左 */
  --box-shadow-min-right (2px 2px 4px rgba(31, 35, 41, .1))

  /* 向下 */
  --box-shadow-max-bottom (0 8px 16px 0px rgba(0, 65, 115, .15))

  /* 带三角形的盒子投影 */
  /* 向上 */
  --box-shadow-triangle-top (0 -2px 4px rgba(31, 35, 41, .1))
  /* 向下 */
  --box-shadow-triangle-bottom (0 2px 4px rgba(31, 35, 41, .1))
  /* 向左 */
  --box-shadow-triangle-left (-2px 0 4px rgba(31, 35, 41, .1))
  /* 向右 */
  --box-shadow-triangle-right (2px 0 4px rgba(31, 35, 41, .1))

  /* 弹窗投影 */
  --modal-shadow-bottom (0 20px 30px rgba(31, 35, 41, .15))

  /* popover-tip-bg --grey-900 opacity 0.8 */
  --popover-tip-bg rgba(31, 36, 41, .8)

  /* blue */
  --blue-900 #003666
  --blue-800 #004b8f
  --blue-700 #005db7
  --blue-600 #0079ec
  --blue-500 #0080ff
  --blue-400 #3996ff
  --blue-300 #80b7ff
  --blue-200 #acd4ff
  --blue-100 #c9e0ff
  --blue-50 #eef5ff

  /* green */
  --green-900 #193002
  --green-800 #294c05
  --green-700 #366900
  --green-600 #55a000
  --green-500 #75d701
  --green-400 #97ff22
  --green-300 #b9ff70
  --green-200 #d2ffad
  --green-100 #e9ffd5
  --green-50 #f8ffe6

  /* orange */
  --orange-500 #ff5f2e

  /* red */
  --red-500 #ff4e50

  /* grey */
  --grey-900 #1c1f22
  --grey-800 #31363b
  --grey-700 #4f575f
  --grey-600 #78838f
  --grey-500 #a1adb8
  --grey-400 #c1c8d0
  --grey-300 #dce3ea
  --grey-200 #eef3f8
  --grey-100 #f1f3f5
  --grey-50 #fbfcfd

  /* hover-color */
  --hover-color-blue var(--blue-100)
  --hover-color-grey var(--grey-100)

/* base-color -end */
